<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增学员')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tbStudentinfo-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">学员名字：</label>
				<div class="col-sm-8">
					<input id="name" name="name" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">性别：</label>
				<div class="col-sm-8">
					<input id="sex" name="sex" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">年龄：</label>
				<div class="col-sm-8">
					<input id="age" name="age" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">电话号码：</label>
				<div class="col-sm-8">
					<input id="phonenumber" name="phonenumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">QQ：</label>
				<div class="col-sm-8">
					<input id="qQnumber" name="qQnumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">毕业学校：</label>
				<div class="col-sm-8">
					<input id="graduateschool" name="graduateschool" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">专业：</label>
				<div class="col-sm-8">
					<input id="education" name="education" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "clazz/tbStudentinfo"
        $('#form-tbStudentinfo-add').append('<input type="hidden" value="'+$("#clazzId", window.parent.document).val()+'" id="clazzId" name="clazzId">')
		$("#form-tbStudentinfo-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-tbStudentinfo-add').serialize());
	        }
	    }
	</script>
</body>
</html>
