<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('学员列表')" />
	<meta charset="utf-8">
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<!--<div class="col-sm-12 search-collapse">-->
				<!--<div  style="margin-left: 15px; margin-right: 5px;font-weight:bold" id="subjectName">-->

				<!--</div>-->
				<!--<div  style="margin-left: 15px; margin-right: 5px;font-weight:bold" id="headmasterName">-->

				<!--</div>-->

			<!--</div>-->
			
	        <div class="btn-group-sm" id="toolbar" role="group" style="margin-bottom: 20px;">

				<a class="btn btn-success" onclick="$.operate.join('/clazz/tbClazz')">
					<i class="fa fa-mail-reply"></i> 返回班级列表
				</a>

			</div>

			<div class="col-sm-12 select-table table-striped jtable">
				<table class="table table-bordered" id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('clazz:tbStudentinfo:edit')}]];
        var trackListFlag = [[${@permission.hasPermi('clazz:tbStudentinfo:trackList')}]];
        var addTrackFlag = [[${@permission.hasPermi('clazz:tbStudentinfo:addTrack')}]];
        var removeFlag = [[${@permission.hasPermi('clazz:tbStudentinfo:remove')}]];
        var prefix = ctx + "clazz/stuinfo";
        var prefixs = ctx + "clazz/tbStudentinfo";

        $(function() {
            //获取个人就业率
            var options = {
                url: prefix + "/list",
                createUrl: prefixs + "/add",
                updateUrl: prefixs + "/edit/{id}",
                removeUrl: prefixs + "/remove",
				exportUrl: prefixs + "/export",
                importUrl: prefixs + "/importExcelGroup",
                importTemplateUrl: prefixs + "/importTemplate",
                //详情学生详细记录
                infoUrl: prefixs + "/info/{stuId}",
				//添加学生详细记录
                addInfoUrl: prefixs + "/addInfo/{stuId}",
                modalName: "就业班学员",
                search: false,//默认为true显示搜索框功能，设为false隐藏
                showSearch: false,//默认为true显示检索信息，设为false隐藏
                showExport: false,
                showRefresh: true,//默认为true显示刷新按钮，设为false隐藏
                showToggle: false,//默认为true显示视图切换按钮，设为false隐藏
                striped:true,
                pageSize:150,
                rowStyle:rowStyle,
                columns: [
//                {
//                    title: "序号",
//                    formatter: function (value, row, index) {
//                        return $.table.serialNumber(index);
//                    },
//                    valign:'middle',
//                    align:'center',
//                    halign:'center',
//                    falign:'center'
//		        },
				{
					field : 'clazzname',
					title : '班级',
                    valign:'middle',
                    align:'center',
                    halign:'center',
                    falign:'center',
                    formatter: function(value, row, index) {
                        return value+"期"
                    }
				},
				{
					field : 'name',
					title : '姓名',
					valign:'middle',
					align:'center',
                    halign:'center',
					falign:'center',

                    },
				{
					field : 'sex', 
					title : '性别',
                    valign:'middle',
                    align:'center',
                    halign:'center',
                    falign:'center'
				},
				{
					field : 'age', 
					title : '年龄',
                    valign:'middle',
                    align:'center',
                    halign:'center',
                    falign:'center'
				},
                {
					field : 'education',
					title : '学历',
                    valign:'middle',
                    align:'center',
                    halign:'center',
                    falign:'center'
				},
				{
					field : 'phonenumber', 
					title : '电话号码',
                    valign:'middle',
                    align:'center',
                    halign:'center',
                    falign:'center'
				},
				{
					field : 'salary',
					title : '薪资',
                    valign:'middle',
                    align:'center',
                    halign:'center',
                    falign:'center',


                },
				{
					field : 'companyname', 
					title : '入职公司',
                    valign:'middle',
                    align:'center',
                    halign:'center',
                    falign:'center'
				},
				{
					field : 'entrytime',
					title : '入职时间',
                    valign:'middle',
                    align:'center',
                    halign:'center',
                    falign:'center'
				},
				{
					field : 'description',
					title : '记录时间',
                    valign:'middle',
                    align:'center',
                    halign:'center',
                    falign:'center',
                    formatter: function(value, row, index) {
					    var val = value.split('Ω')
						var v= val[1]==undefined?'':val[1]
                        return '<p href="javascript:;" data-toggle="tooltip" title="'+val[0]+'">'+v+'</p>'
                    }
				},
				{
					field : 'empName',
					title : '就业指导',
                    valign:'middle',
                    align:'center',
                    halign:'center',
                    falign:'center'
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + trackListFlag + '" href="javascript:;" onclick="$.operate.openStudentInfo(\'' + row.stuId + '\')"><i class="fa fa-comments-o"></i>查询记录</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + addTrackFlag + '" href="javascript:;" onclick="$.operate.addStudentInfo(\'' + row.stuId + '\')"><i class="fa fa-commenting"></i>添加记录</a><br /> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:;" onclick="$.operate.edit(\'' + row.stuId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:;" onclick="$.operate.remove(\'' + row.stuId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            },
                    valign:'middle',
                    align:'center',
                    halign:'center',
                    falign:'center'
		        }]
            }

            $.table.init(options);

        });

        function rowStyle(row, index) {
            var classes = ['active', 'success', 'info', 'warning', 'danger'];
            if (row.employment!='0') {
                return {
                    classes: classes[1]
                };
            }
            return {};
        }

    </script>
</body>
</html>