<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增学科')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tbSubject-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">学科名称：</label>
				<div class="col-sm-8">
					<input id="subjectName" name="subjectName"  class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "clazz/tbSubject"
		$("#form-tbSubject-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-tbSubject-add').serialize());
	        }
	    }
	</script>
</body>
</html>
