<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<th:block th:include="include :: header('新增过程服务班级')" />
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-baseClazz-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">学科名称：</label>
				<div class="col-sm-8">
					<select name="subjectID" id="subjectID" class=" form-control ">

					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">班级名称：</label>
				<div class="col-sm-8">
					<select name="clazzid" id="clazzName" class=" form-control ">

					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">就业老师名称：</label>
				<div class="col-sm-8">
					<select name="empname" id="empname" class=" form-control ">

					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">开班时间：</label>
				<div class="col-sm-8">
					<input id="Estimate" name="Estimate"  class="form-control time-input" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
//		var prefix = ctx + "financial/baseClazz"
        var prefix = ctx + "ServiceProcess";
        new OptionUtils("subjectID","/clazz/tbSubject/TbSubjectList","subjectId","subjectName");
        new OptionUtils("empname",prefix +"/selectSysUserByUserName","userId","userName");
		$("#form-baseClazz-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});

		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-baseClazz-add').serialize());
	        }
	    }
        $("#subjectID").change(function(){
            new OptionUtils("clazzName",prefix +"/selectClazzByclazzName?subjectid="+$("#subjectID option:selected").val(),"clazzid","clazzname");
        });


	</script>
</body>
</html>
